.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  line-height: 120%;
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__image {
  height: 413px;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 8px;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  top: 50px;
  left: 371px;
  border: none;
  background-color: transparent;
  background-image: url(../images/delete.svg);
  cursor: pointer;
  position: relative;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__title {
    font-size: 16px;
    max-width: 250px;
  }
  .card__image {
    height: 288px;
  }
}
