.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.7;
}

.modal__title {
  margin: 0 0 32px;
  opacity: 1;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  padding: 16px 12px 16px;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  border: 1px solid #21212166;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  opacity: 1;
  border-radius: 8px;
  padding-top: 17px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  color: #fff;
  background-color: #212121;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}
