.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 1;
  top: 10px;
  left: 672px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
}

.modal__close-btn:hover {
  opacity: 0.7;
}

.modal__title {
  margin: 0 0 32px;
  opacity: 1;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  padding: 16px 12px 16px;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  border: 1px solid #21212166;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  position: relative;
}

.modal__caption {
  width: 214px;
  height: 32px;
  opacity: 1;
  background-color: #212121cc;
  border-radius: 8px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  color: #ffffff;
  font-size: 20px;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  opacity: 1;
  border-radius: 8px;
  padding-top: 17px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  color: #fff;
  background-color: #212121;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .modal__content {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-height: unset;
  }
}
